extends layout

block sectionintro
  .div-block
    | The 14 June 2018 marks the one year anniversary of the Grenfell Tower fire.
    br
    br
    |  Tell us why you stand with Grenfell, then download and share your poster from wherever you are in the world.
  a(href='https://justice4grenfell.org/', target="_blank")
    #logo-container
      .text-block 
        p Find out more about 
          span Justice4Grenfell
      a(href='https://justice4grenfell.org/', target="_blank")
        img(src='images/logo-dark.png', alt='Justice 4 Grenfell')
      br
      br
      a(href='#section-form').text-block#arrow-down &#x2193;
      a#panel-2.w-inline-block

block postercontent
  .text-block-2 I stand with Grenfell because...
  .div-block-2
    form#poster-input(name="addposter")
      textarea#poster-text.poster-input-text(type='textarea', rows='3', cols='40', data-name='poster-text', maxlength='100', name='Message', placeholder='add your message')
      br
      //label(for='Message') Message
      br
      input#Location.text-field(data-name='Location', maxlength='256', name='Location', required='required', type='text', placeholder="add your location")
      br
      //label(for='Location') Location
      br
      br
      a(href="/#section-poster")#make-my-poster
        #internal-submit Make my poster
          #p2arrow-down &#x2193;
        
block generatedposter
  #section-poster
    .column-left
      .text-block-5 Colour
      input#colorChoice1.green-button(type='button', onclick="swapStyleSheet('stylesheets/style.css')")
      input#colorChoice2.lightgreen-button(type='button', onclick="swapStyleSheet('stylesheets/style2.css')")
    .column-center
      #row-top
        a(href='#section-form')
          #p3arrow-up &#x2193;
          .button-block Edit poster
      #poster-generated
        #poster-generated-phrase
        each message, i in messagelist
          h1 #{message.Message}
        #poster-generated-location
        each message, i in messagelist
          h1 #{message.Location}
      //.text-block-7 Add to gallery
      #shift-container
        form#poster-submit(name="addposter", method="post")
          textarea#poster-text-hidden(data-name='poster-text', maxlength='256', name='Message')
          textarea#location-hidden( data-name='Location', maxlength='256', name='Location', required='required')
          .button-block 
            button#submit-button.w-button(type="submit") Submit to gallery
              #p3arrow-down &#x2193;
        a(href='#section-gallery')
          .button-block View gallery
            #p3arrow-down &#x2193;
    .column-right
      .text-block-5 Share
      //#save_image_float
        input#save_image_locally.button-download.w-button(type='button', value='Download', data-html2canvas-ignore='true')
      #save_image_float
      a.button-twitter.button-download(href="https://twitter.com/intent/tweet?url=<?=urlencode($url)?>&text=I%20stand%20with%20Grenfell", target="_blank") Twitter
      a#button-fb.button-download(href='#') Facebook
      
    
block posterlist
  #section-gallery
    ul
      each poster, i in posterlist.reverse()
        li#poster_list_item
          h1 #{poster.Message} 
          h2 from #{poster.Location}
          
          
