extends layout

block sectionintro
  .div-block
    | The 14 June 2018 marks the one year anniversary of the Grenfell Tower fire.
    br
    br
    |  Tell us why you stand with Grenfell, then download and share your poster from wherever you are in the world.
  a(href='#section-form')
    .text-block Find out more about 
      span Justice4Grenfell
      #arrow-down &#x2193;
      a#panel-2.w-inline-block
